<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>18/11/18 11:32:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead_dataprov.CreateLeads(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ce81285]">CreateLeads</td> 
  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/11/18 11:32:19</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead_dataprov.CreateLeads(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ce81285]">CreateLeads</td> 
  <td>main@1270855946</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/11/18 11:32:19</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead_dataprov.CreateLeads(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ce81285]">CreateLeads</td> 
  <td>main@1270855946</td>   <td></td> </tr>
</table>
