<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efea79">  <td>18/11/18 11:33:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLead_dataprov.login1(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">&gt;&gt;login1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/11/18 11:33:49</td>   <td>638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/11/18 11:33:57</td>   <td>8998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead_dataprov.CreateLeads(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">CreateLeads</td> 
  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/11/18 11:34:22</td>   <td>33774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLead_dataprov.close()[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/11/18 11:34:23</td>   <td>34540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/11/18 11:34:31</td>   <td>42576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead_dataprov.CreateLeads(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">CreateLeads</td> 
  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/11/18 11:34:43</td>   <td>54539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLead_dataprov.close()[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/11/18 11:34:44</td>   <td>55354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/11/18 11:34:51</td>   <td>62620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead_dataprov.CreateLeads(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">CreateLeads</td> 
  <td>main@157683534</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/11/18 11:35:05</td>   <td>76841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLead_dataprov.close()[pri:0, instance:class6.day1.CreateLead_dataprov@5ec0a365]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@157683534</td>   <td></td> </tr>
</table>
